openapi: 3.0.3
info:
  title: Tracebud API (v1 Draft)
  version: "0.1.0-draft"
  description: |
    Draft OpenAPI artifact generated from TRACEBUD_V1_2_EUDR_SPEC.md Section 32.8.
    This document is intentionally minimal and should be expanded during implementation.
  license:
    name: Proprietary
    url: https://tracebud.com/legal
  x-tracebud-error-mapping:
    AUTH-001: INVALID_TOKEN
    AUTH-002: INSUFFICIENT_SCOPE
    VAL-001: FIELD_REQUIRED
    VAL-002: FIELD_INVALID
    TEN-001: TENANT_SCOPE_VIOLATION
    CON-001: CONSENT_REQUIRED
    SYNC-001: IDEMPOTENCY_REPLAY
    SYNC-002: CONFLICT_REVIEW_REQUIRED
    GEO-001: GEOMETRY_INVALID
    GEO-002: GEOMETRY_VARIANCE_EXCEEDED
    YLD-001: BENCHMARK_UNAVAILABLE
    DDS-001: INVALID_STATE_TRANSITION
    DDS-002: SUBMISSION_REJECTED
    EXT-001: TRACES_AUTH_FAILED
    EXT-002: TRACES_VALIDATION_FAULT
    BIL-001: PAYMENT_FAILED
    OPS-001: INTERNAL_ERROR
servers:
  - url: https://api.tracebud.com
    description: Production API
  - url: https://sandbox-api.tracebud.com
    description: Sandbox API
security:
  - bearerAuth: []
tags:
  - name: Organisations
    description: Organisation management and membership setup.
  - name: Producers
    description: Producer identity and profile creation.
  - name: Requests
    description: Evidence and campaign request workflows.
  - name: Plots
    description: Plot registration and geometry versioning.
  - name: Evidence
    description: Evidence document upload and parse tracking.
  - name: Consent
    description: Consent grant lifecycle operations.
  - name: Batches
    description: Batch creation, input linkage, and lineage lock.
  - name: Harvest
    description: Harvest capture, vouchers, DDS packaging, and readiness checks.
  - name: Reviews
    description: Yield exception and deduplication review actions.
  - name: Shipments
    description: Shipment header, lines, and seal operations.
  - name: DDS
    description: DDS submission, amendment, and retraction flows.
  - name: Sync
    description: Offline sync flush and conflict resolution endpoints.
  - name: Portability
    description: Data portability request and download workflows.
  - name: ComplianceExports
    description: Compliance export creation, status, and retrieval.
  - name: Audit
    description: Audit event export and telemetry diagnostics endpoints.
  - name: Reporting
    description: Annual snapshot generation and reporting retrieval.
  - name: ComplianceIssues
    description: Compliance issue tracking and remediation actions.
  - name: Billing
    description: Billing events and payment method management.
  - name: Webhooks
    description: Webhook registration and delivery inspection.
  - name: WorkflowTemplates
    description: Tenant-scoped workflow template and stage transition operations.
  - name: Integrations
    description: External integration health, submission, and status operations.
  - name: Launch
    description: Tenant launch lifecycle, signup onboarding, and commercial profile operations.
paths:
  /v1/organisations:
    post:
      tags: [Organisations]
      operationId: createOrganisation
      summary: Create organisation
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrganisationRequest"
      responses:
        "201":
          description: Organisation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganisationCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/producers:
    post:
      tags: [Producers]
      operationId: createProducer
      summary: Create producer
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProducerRequest"
      responses:
        "201":
          description: Producer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProducerCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /v1/organisations/{id}/members/invitations:
    post:
      tags: [Organisations]
      operationId: inviteOrganisationMember
      summary: Invite organisation member
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemberInvitationRequest"
      responses:
        "201":
          description: Invitation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberInvitationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/requests/campaigns:
    post:
      tags: [Requests]
      operationId: createRequestCampaign
      summary: Create request campaign
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestCampaignCreateRequest"
      responses:
        "202":
          description: Campaign accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/requests/campaigns/{id}:
    get:
      tags: [Requests]
      operationId: getRequestCampaign
      summary: Get request campaign
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Campaign details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestCampaignResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/requests/campaigns/{id}/targets:
    get:
      tags: [Requests]
      operationId: listRequestCampaignTargets
      summary: List request campaign targets
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Target list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/requests/campaigns/{id}/decisions:
    get:
      tags: [Requests]
      operationId: listRequestCampaignDecisions
      summary: List request campaign decision timeline
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - name: decision
          in: query
          required: false
          schema:
            type: string
            enum: [all, accept, refuse]
            default: all
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Decision timeline
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RequestCampaignDecisionTimelineResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/plots:
    post:
      tags: [Plots]
      operationId: createPlot
      summary: Create plot
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlotRequest"
      responses:
        "201":
          description: Plot created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlotCreatedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/plots/{id}/geometry-versions:
    post:
      tags: [Plots]
      operationId: addPlotGeometryVersion
      summary: Add plot geometry version
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddGeometryVersionRequest"
      responses:
        "201":
          description: Geometry version added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GeometryVersionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/plots/{id}/photos-sync:
    post:
      tags: [Plots]
      operationId: syncPlotPhotos
      summary: Sync plot photos metadata
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncPlotPhotosRequest"
      responses:
        "201":
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or assignment/ownership scope violation
  /v1/plots/{id}/legal-sync:
    post:
      tags: [Plots]
      operationId: syncPlotLegal
      summary: Sync plot legality metadata
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncPlotLegalRequest"
      responses:
        "201":
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or assignment/ownership scope violation
  /v1/plots/{id}/evidence-sync:
    post:
      tags: [Plots]
      operationId: syncPlotEvidence
      summary: Sync plot evidence metadata
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncPlotEvidenceRequest"
      responses:
        "201":
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or assignment/ownership scope violation
  /v1/plots/{id}/assignments:
    get:
      tags: [Plots]
      operationId: listPlotAssignments
      summary: List plot assignment history
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [all, active, completed, cancelled]
            default: all
        - name: fromDays
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 30
        - name: agentUserId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        "200":
          description: Assignment rows ordered by latest assignment timestamp (JSON) or CSV export when format=csv
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlotAssignmentResponse"
                  total: { type: integer }
                  limit: { type: integer }
                  offset: { type: integer }
                  status:
                    type: string
                    enum: [all, active, completed, cancelled]
                  fromDays: { type: integer }
                  agentUserId:
                    type: string
                    format: uuid
                    nullable: true
                required: [items, total, limit, offset, status, fromDays, agentUserId]
        "400":
          description: Assignment relation unavailable
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-assignment-management role
    post:
      tags: [Plots]
      operationId: createPlotAssignment
      summary: Create active plot assignment
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlotAssignmentRequest"
      responses:
        "201":
          description: Assignment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlotAssignmentResponse"
        "400":
          description: Assignment relation missing, duplicate assignment, or invalid payload
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-assignment-management role
  /v1/plots/assignments/{assignmentId}/complete:
    patch:
      tags: [Plots]
      operationId: completePlotAssignment
      summary: Complete active plot assignment
      parameters:
        - name: assignmentId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlotAssignmentStatusRequest"
      responses:
        "200":
          description: Assignment completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlotAssignmentResponse"
        "400":
          description: Assignment not found, invalid transition, or relation missing
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-assignment-management role
  /v1/plots/assignments/{assignmentId}/cancel:
    patch:
      tags: [Plots]
      operationId: cancelPlotAssignment
      summary: Cancel active plot assignment
      parameters:
        - name: assignmentId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlotAssignmentStatusRequest"
      responses:
        "200":
          description: Assignment cancelled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlotAssignmentResponse"
        "400":
          description: Assignment not found, invalid transition, or relation missing
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-assignment-management role
  /v1/plots/{id}/geometry-history:
    get:
      tags: [Plots]
      operationId: getPlotGeometryHistory
      summary: Get plot geometry revision history
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
            default: desc
        - name: anomalyProfile
          in: query
          required: false
          schema:
            type: string
            enum: [strict, balanced, lenient]
            default: balanced
        - name: signalsOnly
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: Immutable geometry revision audit events page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlotGeometryHistoryEvent"
                  anomalies:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlotGeometryHistoryAnomaly"
                  total: { type: integer }
                  limit: { type: integer }
                  offset: { type: integer }
                  sort:
                    type: string
                    enum: [desc, asc]
                  anomalyProfile:
                    type: string
                    enum: [strict, balanced, lenient]
                  signalsOnly:
                    type: boolean
                  anomalySummary:
                    type: object
                    properties:
                      total: { type: integer }
                      highSeverity: { type: integer }
                      mediumSeverity: { type: integer }
                      byType:
                        type: object
                        properties:
                          largeRevisionJump: { type: integer }
                          frequentSupersession: { type: integer }
                  anomalySummaryScope:
                    type: string
                    enum: [current_page, full_filtered_set]
                required: [items, anomalies, total, limit, offset, sort, anomalyProfile, signalsOnly, anomalySummary, anomalySummaryScope]
              examples:
                createdAndRevised:
                  value:
                    items:
                      - id: "e1a11111-1111-4111-8111-111111111111"
                        timestamp: "2026-04-16T09:12:10.000Z"
                        userId: "11111111-1111-4111-8111-111111111111"
                        deviceId: null
                        eventType: "plot_created"
                        payload:
                          plotId: "cccccccc-cccc-4ccc-8ccc-cccccccccccc"
                          details:
                            plotId: "cccccccc-cccc-4ccc-8ccc-cccccccccccc"
                            farmerId: "aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa"
                            clientPlotId: "local-plot-1"
                            geometryNormalization:
                              originalAreaHa: 1.02
                              normalizedAreaHa: 1.01
                              correctionVariancePct: 0.98
                      - id: "e2b22222-2222-4222-8222-222222222222"
                        timestamp: "2026-04-16T10:45:33.000Z"
                        userId: "11111111-1111-4111-8111-111111111111"
                        deviceId: "device-field-01"
                        eventType: "plot_geometry_superseded"
                        payload:
                          plotId: "cccccccc-cccc-4ccc-8ccc-cccccccccccc"
                          details:
                            plotId: "cccccccc-cccc-4ccc-8ccc-cccccccccccc"
                            reason: "boundary correction after resurvey"
                            previous:
                              kind: "polygon"
                            next:
                              kind: "polygon"
                            geometryNormalization:
                              originalAreaHa: 1.01
                              normalizedAreaHa: 1.0
                              correctionVariancePct: 0.99
                    total: 2
                    anomalies:
                      - eventId: "e2b22222-2222-4222-8222-222222222222"
                        type: "large_revision_jump"
                        severity: "medium"
                        message: "Large revision jump: 3.20% area correction variance."
                    limit: 100
                    offset: 0
                    sort: "desc"
                    anomalyProfile: "balanced"
                    signalsOnly: false
                    anomalySummary:
                      total: 1
                      highSeverity: 1
                      mediumSeverity: 0
                      byType:
                        largeRevisionJump: 1
                        frequentSupersession: 0
                    anomalySummaryScope: "current_page"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/plots/{id}/deforestation-decision:
    post:
      tags: [Plots]
      operationId: runPlotDeforestationDecision
      summary: Run historical deforestation decision for a plot
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - name: cutoffDate
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
          description: Historical decision cutoff date in YYYY-MM-DD format.
      responses:
        "200":
          description: Deforestation decision computed and logged
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  plotId: { type: string }
                  cutoffDate: { type: string }
                  verdict:
                    type: string
                    enum: [no_deforestation_detected, possible_deforestation_detected, unknown]
                  usedFallback: { type: boolean }
                  historicalSqlApplied: { type: boolean }
                  provider: { type: string }
                  providerMode:
                    type: string
                    enum: [glad_s2_primary, radd_fallback]
                  summary:
                    type: object
                    properties:
                      alertCount:
                        type: integer
                        nullable: true
                      alertAreaHa:
                        type: number
                        nullable: true
                  source:
                    type: object
                    properties:
                      dataset:
                        type: string
                        nullable: true
                      version:
                        type: string
                        nullable: true
                required: [ok, plotId, cutoffDate, verdict, usedFallback, historicalSqlApplied, provider, providerMode, summary, source]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Only agents/exporters can run deforestation decisions
  /v1/plots/{id}/deforestation-decision-history:
    get:
      tags: [Plots]
      operationId: getPlotDeforestationDecisionHistory
      summary: Get historical deforestation decision history for a plot
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Immutable deforestation decision events
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string }
                    timestamp: { type: string, format: date-time }
                    user_id: { type: string, nullable: true }
                    device_id: { type: string, nullable: true }
                    event_type:
                      type: string
                      enum: [plot_deforestation_decision_recorded]
                    payload:
                      type: object
                      properties:
                        plotId: { type: string }
                        cutoffDate: { type: string }
                        verdict:
                          type: string
                          enum: [no_deforestation_detected, possible_deforestation_detected, unknown]
                        provider: { type: string }
                        providerMode:
                          type: string
                          enum: [glad_s2_primary, radd_fallback]
                        summary:
                          type: object
                          properties:
                            alertCount: { type: integer, nullable: true }
                            alertAreaHa: { type: number, nullable: true }
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/evidence-documents:
    post:
      tags: [Evidence]
      operationId: uploadEvidenceDocument
      summary: Upload evidence document
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                document_type:
                  type: string
                entity_ref:
                  type: string
              required: [file, document_type]
      responses:
        "202":
          description: Evidence accepted for parsing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceUploadResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/evidence-documents/{id}/parse-status:
    get:
      tags: [Evidence]
      operationId: getEvidenceParseStatus
      summary: Get parse status
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Parse status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceParseStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/consent-grants:
    post:
      tags: [Consent]
      operationId: createConsentGrant
      summary: Create consent grant
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConsentGrantRequest"
      responses:
        "201":
          description: Consent grant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/consent-grants/{id}/revoke:
    patch:
      tags: [Consent]
      operationId: revokeConsentGrant
      summary: Revoke consent grant
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                revocation_reason:
                  type: string
              required: [revocation_reason]
      responses:
        "200":
          description: Consent revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsentGrantResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/batches:
    post:
      tags: [Batches]
      operationId: createBatch
      summary: Create batch
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
      responses:
        "201":
          description: Batch created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/batches/{id}/inputs:
    post:
      tags: [Batches]
      operationId: addBatchInput
      summary: Add batch input
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddBatchInputRequest"
      responses:
        "201":
          description: Batch input added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/batches/{id}/lock-lineage:
    post:
      tags: [Batches]
      operationId: lockBatchLineage
      summary: Lock lineage
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Lineage locked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/chat-threads:
    get:
      tags: [Requests]
      operationId: listChatThreads
      summary: List chat threads
      parameters:
        - name: recordId
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Tenant-scoped chat thread list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChatThreadSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
    post:
      tags: [Requests]
      operationId: createChatThread
      summary: Create chat thread with initial message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChatThreadRequest"
      responses:
        "201":
          description: Thread created or replayed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessageWriteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
  /v1/chat-threads/{id}/messages:
    get:
      tags: [Requests]
      operationId: listChatThreadMessages
      summary: List chat thread messages
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Tenant-scoped message timeline for thread
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChatMessage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
    post:
      tags: [Requests]
      operationId: postChatThreadMessage
      summary: Post message to thread
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostChatMessageRequest"
      responses:
        "201":
          description: Message posted or replayed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatMessageWriteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
  /v1/chat-threads/{id}/resolve:
    post:
      tags: [Requests]
      operationId: resolveChatThread
      summary: Resolve chat thread
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201":
          description: Thread resolved or already resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatThreadStatusTransitionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
  /v1/chat-threads/{id}/reopen:
    post:
      tags: [Requests]
      operationId: reopenChatThread
      summary: Reopen resolved chat thread
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201":
          description: Thread reopened or already active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatThreadStatusTransitionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
  /v1/chat-threads/{id}/archive:
    post:
      tags: [Requests]
      operationId: archiveChatThread
      summary: Archive chat thread
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "201":
          description: Thread archived or already archived
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatThreadStatusTransitionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim
  /v1/harvest/packages/{id}/readiness:
    get:
      tags: [Harvest]
      operationId: getDdsPackageReadiness
      summary: Evaluate DDS package readiness rules
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Deterministic package readiness evaluation with blocker/warning counts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsPackageReadinessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-exporter role
  /v1/harvest/packages/{id}/evidence-documents:
    get:
      tags: [Harvest]
      operationId: listDdsPackageEvidenceDocuments
      summary: List package evidence documents
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Typed evidence-document diagnostics rows for the selected DDS package
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DdsPackageEvidenceDocument"
              examples:
                default:
                  value:
                    - evidenceId: evidence_v_1
                      packageId: 8d09c964-f95b-4a7a-8bd1-e7f3006a3f77
                      plotId: 9afad390-c0fd-4c46-bded-f4076144f7b5
                      title: South Field B document packet
                      type: tenure_evidence
                      reviewStatus: pending
                      source: South Field B
                      capturedAt: "2026-04-16"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-exporter role
  /v1/harvest/packages/{id}/risk-score:
    get:
      tags: [Harvest]
      operationId: getDdsPackageRiskScore
      summary: Evaluate DDS package risk score
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Deterministic package risk scoring result with explainability reasons
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsPackageRiskScoreResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-exporter role
  /v1/harvest/packages/{id}/filing-preflight:
    get:
      tags: [Harvest]
      operationId: getDdsPackageFilingPreflight
      summary: Evaluate filing pre-flight readiness
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Deterministic filing pre-flight result combining readiness and risk outcomes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsPackageFilingPreflightResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-exporter role
  /v1/harvest/packages/{id}/generate:
    post:
      tags: [Harvest]
      operationId: generateDdsPackageArtifacts
      summary: Generate filing package artifacts
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Filing package artifacts generated after successful pre-flight checks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsPackageGenerationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-exporter role
  /v1/harvest/packages/{id}/submit:
    patch:
      tags: [Harvest]
      operationId: submitDdsPackage
      summary: Submit DDS package with idempotency semantics
      parameters:
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitDdsPackageRequest"
      responses:
        "200":
          description: Submission accepted or replayed for same idempotency key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDdsPackageResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or non-exporter role
  /v1/yield-exception-requests/{id}/approve:
    post:
      tags: [Reviews]
      operationId: approveYieldExceptionRequest
      summary: Approve yield exception
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/YieldExceptionApproveRequest"
      responses:
        "200":
          description: Approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/yield-exception-requests/{id}/reject:
    post:
      tags: [Reviews]
      operationId: rejectYieldExceptionRequest
      summary: Reject yield exception
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/YieldExceptionRejectRequest"
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/dedup-review-tasks/{id}/merge:
    post:
      tags: [Reviews]
      operationId: mergeDedupReviewTask
      summary: Merge duplicate entities
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DedupeMergeRequest"
      responses:
        "200":
          description: Merge applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/dedup-review-tasks/{id}/mark-distinct:
    post:
      tags: [Reviews]
      operationId: markDedupReviewTaskDistinct
      summary: Mark duplicate review as distinct
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DedupeDecisionRequest"
      responses:
        "200":
          description: Marked distinct
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/dedup-review-tasks/{id}/escalate:
    post:
      tags: [Reviews]
      operationId: escalateDedupReviewTask
      summary: Escalate duplicate review
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DedupeEscalateRequest"
      responses:
        "200":
          description: Escalated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/shipment-headers:
    post:
      tags: [Shipments]
      operationId: createShipmentHeader
      summary: Create shipment header
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShipmentHeaderRequest"
      responses:
        "201":
          description: Shipment header created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/shipment-headers/{id}/lines:
    post:
      tags: [Shipments]
      operationId: addShipmentHeaderLine
      summary: Add shipment line
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddShipmentLineRequest"
      responses:
        "201":
          description: Shipment line added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/shipment-headers/{id}/seal:
    post:
      tags: [Shipments]
      operationId: sealShipmentHeader
      summary: Seal shipment
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Shipment sealed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShipmentHeaderResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
  /v1/dds-records/{id}/submit:
    post:
      tags: [DDS]
      operationId: submitDdsRecord
      summary: Submit DDS
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: DDS submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsRecordResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
  /v1/dds-records/{id}/amend:
    post:
      tags: [DDS]
      operationId: amendDdsRecord
      summary: Amend DDS
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: DDS amended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsRecordResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/dds-records/{id}/retract:
    post:
      tags: [DDS]
      operationId: retractDdsRecord
      summary: Retract DDS
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: DDS retraction requested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DdsRecordResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/sync/flush:
    post:
      tags: [Sync]
      operationId: flushSyncQueue
      summary: Flush sync queue
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncFlushRequest"
      responses:
        "200":
          description: Sync flush result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncFlushResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/sync-conflicts/{id}/resolve:
    post:
      tags: [Sync]
      operationId: resolveSyncConflict
      summary: Resolve sync conflict
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncConflictResolveRequest"
      responses:
        "200":
          description: Conflict resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/portability-requests:
    post:
      tags: [Portability]
      operationId: createPortabilityRequest
      summary: Create portability request
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePortabilityRequest"
      responses:
        "202":
          description: Portability request queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/portability-requests/{id}/download:
    get:
      tags: [Portability]
      operationId: downloadPortabilityPayload
      summary: Download portability payload
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Download URL or binary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/compliance-exports:
    post:
      tags: [ComplianceExports]
      operationId: createComplianceExport
      summary: Create full compliance export
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateComplianceExportRequest"
      responses:
        "202":
          description: Export queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceExportCreateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/compliance-exports/{id}:
    get:
      tags: [ComplianceExports]
      operationId: getComplianceExportStatus
      summary: Get export status
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Export status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceExportStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/compliance-exports/{id}/download:
    get:
      tags: [ComplianceExports]
      operationId: downloadComplianceExport
      summary: Download compliance export
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Download URL or binary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/audit-events/export:
    get:
      tags: [Audit]
      operationId: exportAuditEvents
      summary: Export audit events
      parameters:
        - name: from_date
          in: query
          schema: { type: string, format: date }
        - name: to_date
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: Export job handle or stream
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry:
    get:
      tags: [Audit]
      operationId: listGatedEntryTelemetry
      summary: List gated-entry telemetry events
      parameters:
        - name: gate
          in: query
          required: false
          schema:
            type: string
            enum: [request_campaigns, annual_reporting]
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
          example: 24
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 50
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
          example: desc
      responses:
        "200":
          description: Tenant-scoped gated-entry telemetry page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatedEntryTelemetryListResponse"
              examples:
                success:
                  value:
                    items:
                      - id: "f4f4f4f4-1111-4444-8888-f4f4f4f4f4f4"
                        timestamp: "2026-04-15T14:12:01.000Z"
                        user_id: "11111111-1111-1111-1111-111111111111"
                        device_id: "dashboard-web"
                        event_type: "dashboard_gated_entry_attempt"
                        payload:
                          tenantId: "tenant_1"
                          gate: "request_campaigns"
                          role: "exporter"
                          feature: "mvp_gated"
                          redirectedPath: "/"
                          capturedAt: "2026-04-15T14:12:00.900Z"
                    total: 1
                    limit: 50
                    offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/export:
    get:
      tags: [Audit]
      operationId: exportGatedEntryTelemetryCsv
      summary: Export gated-entry telemetry as CSV
      parameters:
        - name: gate
          in: query
          required: false
          schema:
            type: string
            enum: [request_campaigns, annual_reporting]
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
      responses:
        "200":
          description: CSV export stream with metadata headers
          headers:
            X-Export-Row-Limit:
              schema:
                type: string
            X-Export-Row-Count:
              schema:
                type: string
            X-Export-Truncated:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/exports:
    get:
      tags: [Audit]
      operationId: listGatedEntryExportActivity
      summary: List gated-entry export activity events
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
          example: 24
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
          example: desc
      responses:
        "200":
          description: Tenant-scoped export activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatedEntryTelemetryListResponse"
              examples:
                success:
                  value:
                    items:
                      - id: "a3a3a3a3-2222-4444-9999-a3a3a3a3a3a3"
                        timestamp: "2026-04-15T15:00:00.000Z"
                        user_id: "11111111-1111-1111-1111-111111111111"
                        device_id: "dashboard-web"
                        event_type: "dashboard_gated_entry_exported"
                        payload:
                          tenantId: "tenant_1"
                          gate: "all"
                          fromHours: 24
                          sort: "desc"
                          rowCount: 42
                          rowLimit: 5000
                          truncated: false
                          format: "csv"
                          exportedBy: "ops@tracebud.test"
                          exportedAt: "2026-04-15T15:00:00.000Z"
                    total: 1
                    limit: 20
                    offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/assignment-exports:
    get:
      tags: [Audit]
      operationId: listAssignmentExportActivity
      summary: List assignment export activity events
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
          example: 24
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
          example: desc
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [requested, succeeded, failed]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [all, active, completed, cancelled]
      responses:
        "200":
          description: Tenant-scoped assignment export activity page with explicit pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignmentExportTelemetryListResponse"
              examples:
                success:
                  value:
                    items:
                      - id: "b4b4b4b4-2222-4444-9999-b4b4b4b4b4b4"
                        timestamp: "2026-04-16T10:00:00.000Z"
                        user_id: "11111111-1111-1111-1111-111111111111"
                        device_id: null
                        event_type: "plot_assignment_export_succeeded"
                        payload:
                          tenantId: "tenant_1"
                          plotId: "eeeeeeee-eeee-4eee-8eee-eeeeeeeeeeee"
                          exportedBy: "ops@tracebud.test"
                          rowCount: 32
                          status: "active"
                          fromDays: 30
                          agentUserId: null
                          error: null
                    total: 73
                    limit: 20
                    offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/assignment-exports/export:
    get:
      tags: [Audit]
      operationId: exportAssignmentExportActivityCsv
      summary: Export assignment export activity as CSV
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [requested, succeeded, failed]
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [all, active, completed, cancelled]
      responses:
        "200":
          description: CSV export stream with metadata headers
          headers:
            X-Export-Row-Limit:
              schema:
                type: string
            X-Export-Row-Count:
              schema:
                type: string
            X-Export-Truncated:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/risk-scores:
    get:
      tags: [Audit]
      operationId: listRiskScoreActivity
      summary: List risk score activity events
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
          example: 24
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
          example: 20
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          example: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
          example: desc
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [requested, evaluated, low, medium, high]
        - name: band
          in: query
          required: false
          schema:
            type: string
            enum: [all, low, medium, high]
      responses:
        "200":
          description: Tenant-scoped risk score activity page with explicit pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskScoreTelemetryListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/risk-scores/export:
    get:
      tags: [Audit]
      operationId: exportRiskScoreActivityCsv
      summary: Export risk score activity as CSV
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [requested, evaluated, low, medium, high]
        - name: band
          in: query
          required: false
          schema:
            type: string
            enum: [all, low, medium, high]
      responses:
        "200":
          description: CSV export stream with metadata headers
          headers:
            X-Export-Row-Limit:
              schema:
                type: string
            X-Export-Row-Count:
              schema:
                type: string
            X-Export-Truncated:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/filing-activity:
    get:
      tags: [Audit]
      operationId: listFilingActivity
      summary: List filing activity events
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [generation_requested, generation_generated, submission_requested, submission_accepted, submission_replayed]
      responses:
        "200":
          description: Tenant-scoped filing activity page with explicit pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilingActivityTelemetryListResponse"
              examples:
                generation_activity:
                  value:
                    items:
                      - id: "9dd9d74a-2ac4-4cfd-94d0-f8bcb3df43cc"
                        timestamp: "2026-04-20T09:10:11.000Z"
                        user_id: "77777777-7777-4777-8777-777777777777"
                        device_id: null
                        event_type: "dds_package_generation_generated"
                        payload:
                          tenantId: "tenant_1"
                          packageId: "11111111-1111-4111-8111-111111111111"
                          status: "package_generated"
                          artifactVersion: "v1"
                          lotCount: 2
                    total: 1
                    limit: 20
                    offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/filing-activity/export:
    get:
      tags: [Audit]
      operationId: exportFilingActivityCsv
      summary: Export filing activity as CSV
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [generation_requested, generation_generated, submission_requested, submission_accepted, submission_replayed]
      responses:
        "200":
          description: CSV export stream with metadata headers
          headers:
            X-Export-Row-Limit:
              schema:
                type: string
            X-Export-Row-Count:
              schema:
                type: string
            X-Export-Truncated:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
              example: |
                captured_at,actor,phase,package_id,status,artifact_version,lot_count,idempotency_key,submission_state,traces_reference,replayed,persisted_at,generated_at
                2026-04-20T09:10:11.000Z,ops@tracebud.test,generation_generated,pkg_1,package_generated,v1,2,,,,,,2026-04-20T09:10:11.000Z
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/chat-threads:
    get:
      tags: [Audit]
      operationId: listChatThreadActivity
      summary: List chat-thread activity events
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [created, posted, replayed, resolved, reopened, archived]
      responses:
        "200":
          description: Tenant-scoped chat-thread activity page with explicit pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatThreadActivityTelemetryListResponse"
              examples:
                created_phase:
                  value:
                    items:
                      - id: "497e0d1d-c7c6-4e70-ad13-6a5b52c07b9f"
                        timestamp: "2026-04-20T09:15:00.000Z"
                        user_id: "77777777-7777-4777-8777-777777777777"
                        event_type: "chat_thread_created"
                        payload:
                          tenantId: "tenant_1"
                          threadId: "thread_1"
                          recordId: "record_1"
                          messageId: "msg_1"
                          actorRole: "exporter"
                    total: 1
                    limit: 20
                    offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/workflow-activity:
    get:
      tags: [Audit]
      operationId: listWorkflowActivity
      summary: List workflow activity events
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
        - name: phase
          in: query
          required: false
          schema:
            type: string
            enum: [template_created, stage_transitioned, sla_warning, sla_breached, sla_escalated, sla_recovered]
        - name: slaState
          in: query
          required: false
          schema:
            type: string
            enum: [all, on_track, warning, breached, escalated]
      responses:
        "200":
          description: Tenant-scoped workflow activity page with explicit pagination metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowActivityTelemetryListResponse"
              examples:
                sla_warning_phase:
                  value:
                    items:
                      - id: "875e2ec4-fec5-4fd4-87ec-9314c7ea0805"
                        timestamp: "2026-04-20T09:20:00.000Z"
                        user_id: "77777777-7777-4777-8777-777777777777"
                        event_type: "workflow_stage_sla_warning"
                        payload:
                          tenantId: "tenant_1"
                          templateId: "template_1"
                          stageId: "verify_docs"
                          slaState: "warning"
                          actorRole: "exporter"
                    total: 1
                    limit: 20
                    offset: 0
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/dashboard-summary:
    get:
      tags: [Audit]
      operationId: getDashboardDiagnosticsSummary
      summary: Get dashboard diagnostics summary
      parameters:
        - name: fromHours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 720
      responses:
        "200":
          description: Tenant-scoped aggregate diagnostics counters across dashboard event families
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardDiagnosticsSummaryResponse"
              examples:
                tenant_summary:
                  value:
                    tenantId: "tenant_1"
                    fromHours: 24
                    totalDiagnostics: 5
                    counters:
                      gatedEntryAttempts: 1
                      assignmentExportEvents: 1
                      riskScoreEvents: 1
                      filingActivityEvents: 1
                      chatActivityEvents: 1
                    breakdown:
                      assignmentPhase: { requested: 1, succeeded: 0, failed: 0 }
                      assignmentStatus: { active: 1, completed: 0, cancelled: 0 }
                      riskBand: { low: 0, medium: 1, high: 0 }
                      filingFamily: { generation: 0, submission: 1 }
                      chatPhase: { created: 0, posted: 1, replayed: 0, resolved: 0, reopened: 0, archived: 0 }
                    readiness:
                      hasAnyDiagnostics: true
                      canExportDetailed: true
                      latestEventAt: "2026-04-20T09:30:00.000Z"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/audit/gated-entry/actors:
    get:
      tags: [Audit]
      operationId: resolveGatedEntryActors
      summary: Resolve gated-entry export actor labels
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated UUID user IDs (max 50)
          example: "11111111-1111-1111-1111-111111111111,22222222-2222-2222-2222-222222222222"
      responses:
        "200":
          description: Actor labels resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatedEntryActorLookupResponse"
              examples:
                success:
                  value:
                    actors:
                      "11111111-1111-1111-1111-111111111111": "ops@tracebud.test"
                      "22222222-2222-2222-2222-222222222222": "Tenant One User"
        "400":
          description: Invalid or missing ids input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_ids:
                  value:
                    error_code: VAL-002
                    message: ids must be UUID values.
                    request_id: req_actor_lookup_invalid
                missing_ids:
                  value:
                    error_code: VAL-001
                    message: ids is required.
                    request_id: req_actor_lookup_missing
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/access-logs/export:
    get:
      tags: [Audit]
      operationId: exportAccessLogs
      summary: Export access logs
      parameters:
        - name: from_date
          in: query
          schema: { type: string, format: date }
        - name: to_date
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: Export job handle or stream
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/annual-reporting-snapshots/generate:
    post:
      tags: [Reporting]
      operationId: generateAnnualReportingSnapshot
      summary: Generate annual snapshot
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateAnnualReportingSnapshotRequest"
      responses:
        "202":
          description: Generation queued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/annual-reporting-snapshots/{id}:
    get:
      tags: [Reporting]
      operationId: getAnnualReportingSnapshot
      summary: Get annual snapshot
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/compliance-issues:
    post:
      tags: [ComplianceIssues]
      operationId: createComplianceIssue
      summary: Create compliance issue
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceIssueCreateRequest"
      responses:
        "201":
          description: Issue created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceIssueResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/compliance-issues/{id}:
    get:
      tags: [ComplianceIssues]
      operationId: getComplianceIssue
      summary: Get compliance issue
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Issue details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceIssueResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/compliance-issues/{id}/assign-owner:
    patch:
      tags: [ComplianceIssues]
      operationId: assignComplianceIssueOwner
      summary: Assign issue owner
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceIssueAssignOwnerRequest"
      responses:
        "200":
          description: Owner assigned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceIssueResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/compliance-issues/{id}/resolve:
    patch:
      tags: [ComplianceIssues]
      operationId: resolveComplianceIssue
      summary: Resolve compliance issue
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceIssueResolveRequest"
      responses:
        "200":
          description: Issue resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceIssueResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/compliance-issues/{id}/escalate:
    patch:
      tags: [ComplianceIssues]
      operationId: escalateComplianceIssue
      summary: Escalate compliance issue
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceIssueEscalateRequest"
      responses:
        "200":
          description: Issue escalated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceIssueResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/billing-events:
    get:
      tags: [Billing]
      operationId: listBillingEvents
      summary: List billing events
      responses:
        "200":
          description: Billing events
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/billing/payment-methods:
    post:
      tags: [Billing]
      operationId: createBillingPaymentMethod
      summary: Create payment method
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentMethodRequest"
      responses:
        "201":
          description: Payment method created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /v1/billing/payment-methods/{id}/set-default:
    patch:
      tags: [Billing]
      operationId: setDefaultBillingPaymentMethod
      summary: Set default payment method
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Default set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhooks
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: Webhook registrations list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedListResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Webhooks]
      operationId: registerWebhook
      summary: Register webhook
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "201":
          description: Webhook registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericEntityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or role policy violation
  /v1/webhooks/{id}/deliveries:
    get:
      tags: [Webhooks]
      operationId: listWebhookDeliveries
      summary: List webhook deliveries
      parameters:
        - $ref: "#/components/parameters/IdPath"
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        "200":
          description: Deliveries list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or role policy violation
        "404":
          $ref: "#/components/responses/BadRequest"
  /v1/partner-data/datasets:
    get:
      tags: [Integrations]
      operationId: listPartnerDatasets
      summary: List external partner datasets
      description: Returns tenant-scoped dataset inventory for external reporting and analytics partners by explicit scope.
      parameters:
        - name: scope
          in: query
          required: true
          schema:
            type: string
            enum: [read:lineage, read:compliance, read:risk, read:shipments]
      responses:
        "200":
          description: Dataset list by requested scope
          content:
            application/json:
              schema:
                type: object
                required:
                  - tenantId
                  - scope
                  - datasets
                  - state
                properties:
                  tenantId:
                    type: string
                  scope:
                    type: string
                    enum: [read:lineage, read:compliance, read:risk, read:shipments]
                  datasets:
                    type: array
                    items:
                      type: string
                  state:
                    type: string
                    enum: [partner_connection_active]
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or role policy violation
  /v1/partner-data/exports:
    post:
      tags: [Integrations]
      operationId: startPartnerDatasetExport
      summary: Start partner dataset export
      description: Queues a tenant-safe export job for external analytics/reporting systems with explicit idempotency key and immutable audit evidence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - scope
                - dataset
                - format
                - idempotencyKey
              properties:
                scope:
                  type: string
                  enum: [read:lineage, read:compliance, read:risk, read:shipments]
                dataset:
                  type: string
                format:
                  type: string
                  enum: [csv, parquet]
                idempotencyKey:
                  type: string
                cursor:
                  type: string
      responses:
        "200":
          description: Export queued successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - exportId
                  - status
                  - state
                  - dataset
                  - format
                  - idempotencyKey
                  - replayed
                  - attemptCount
                  - errorCode
                  - nextRetryAt
                  - retryExhaustedAt
                  - createdAt
                  - updatedAt
                properties:
                  exportId:
                    type: string
                  status:
                    type: string
                    enum: [queued]
                  state:
                    type: string
                    enum: [partner_sync_pending]
                  dataset:
                    type: string
                  format:
                    type: string
                    enum: [csv, parquet]
                  idempotencyKey:
                    type: string
                  cursor:
                    type: string
                    nullable: true
                  replayed:
                    type: boolean
                  attemptCount:
                    type: integer
                  errorCode:
                    type: string
                    nullable: true
                  nextRetryAt:
                    type: string
                    format: date-time
                    nullable: true
                  retryExhaustedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or role policy violation
  /v1/partner-data/exports/{id}:
    get:
      tags: [Integrations]
      operationId: getPartnerDatasetExportStatus
      summary: Get partner dataset export status
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Export status payload
          content:
            application/json:
              schema:
                type: object
                required:
                  - exportId
                  - status
                  - state
                  - dataset
                  - format
                  - idempotencyKey
                  - replayed
                  - attemptCount
                  - errorCode
                  - nextRetryAt
                  - retryExhaustedAt
                  - createdAt
                  - updatedAt
                properties:
                  exportId:
                    type: string
                  status:
                    type: string
                    enum: [queued, completed, failed]
                  state:
                    type: string
                    enum: [partner_sync_pending, partner_sync_succeeded, partner_sync_terminal_failed]
                  dataset:
                    type: string
                  format:
                    type: string
                    enum: [csv, parquet]
                  idempotencyKey:
                    type: string
                  cursor:
                    type: string
                    nullable: true
                  replayed:
                    type: boolean
                  attemptCount:
                    type: integer
                  errorCode:
                    type: string
                    nullable: true
                  nextRetryAt:
                    type: string
                    format: date-time
                    nullable: true
                  retryExhaustedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or role policy violation
  /v1/partner-data/exports/{id}/download:
    get:
      tags: [Integrations]
      operationId: getPartnerDatasetExportDownload
      summary: Get partner dataset export download URL
      parameters:
        - $ref: "#/components/parameters/IdPath"
      responses:
        "200":
          description: Download URL for completed export
          content:
            application/json:
              schema:
                type: object
                required:
                  - exportId
                  - status
                  - dataset
                  - format
                  - downloadUrl
                  - expiresInSeconds
                properties:
                  exportId:
                    type: string
                  status:
                    type: string
                    enum: [completed]
                  dataset:
                    type: string
                  format:
                    type: string
                    enum: [csv, parquet]
                  downloadUrl:
                    type: string
                    format: uri
                  expiresInSeconds:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Missing tenant claim or role policy violation
  /v1/partner-data/exports/{id}/finalize:
    post:
      tags: [Integrations]
      operationId: finalizePartnerDatasetExport
[...]
